<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
   <div class="container">
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <h3 class="display-4 mb-4">Task Manager</h3>
                <form method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" >
                    </div>
                    <div class="js-form-message form-group mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="5" name="description"
                        data-msg="Please enter your message."
                        data-error-class="u-has-error"
                        data-success-class="u-has-success"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="duedate">Due Date</label>
                        <input type="date" class="form-control" id="duedate" name="duedate">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="status" name="status">
                        <label class="form-check-label" for="status">Complete / Incomplete</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="priority" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">High</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="priority" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Medium</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="priority" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Low</label>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <hr>
                <br>

                <ul class="list-group">
                    {{#each tasks as |todo|}}
                        <li class="list-group-item list-group-item-light"><a href="/todos/{{todo.id}}">{{todo.Title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
   </div>
</body>
</html>